<h2 id="summary">What are Graphics?</h2>
<p>Web graphics are visual representations used on a Web site to enhance or
    enable the representation of an idea or feeling, in order to reach the Web site
    user. Graphics may entertain, educate, or emotionally impact the user, and are
    crucial to strength of branding, clarity of illustration, and ease of use for
    interfaces.</p>