<div class="container" style="width: 60%">
    <form method="post" action="/tweet">
        <div class="form-group">
            <input type="text" name="tweet" class="form-control" id="tweet" placeholder="Tweet">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>