<br>
<br>
<center>
<footer class="footer-basic-centered" style="bottom:0; background-color: #d3d3d3; position:fixed; width:100%">
    <!--<p class="footer-company-motto">The testing app.</p>-->
    <p class="footer-links">
        <a href="/">Home</a>
        ·
        <a href="/about">About</a>
        ·
    </p>
    <p class="footer-company-name">jubin Mathew  © 2016</p>
</footer>
</center>